:root {
  --main-text-color: #212121; /* Основний колір тексту */
  --second-text-color: #757575; /* Додатковий колір тексту */
  --hover-text-color: #2196f3; /* Колір тексту при наведені + лого */
  --white-text-color: #fff; /* Колір зеголовку h1 + текст в футері */
  --bg-main-color: #fff; /* Основний фон сайта */
  --second-bg-color: #f5f4fa; /* Додатковий колір фона */
  --hero-bg-color: #2f303a; /* Фон для Hero і Footer */
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header */
.header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-bottom {
  border: 1px solid #ececec;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--hover-text-color);
}
.header-logo {
  margin-right: 93px;
}
.logo-black {
  color: var(--main-text-color);
}
.main-nav {
  display: flex;
  align-items: center;
}
.main-links {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;

  color: var(--main-text-color);
}

.main-links .iteam:not(:last-child) {
  margin-right: 50px;
}
.main-links .iteam a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.main-links .current {
  color: var(--hover-text-color);
}
.main-links a:hover,
.main-links a:focus {
  color: var(--hover-text-color);
}
.contacts-header {
  display: flex;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}
.contacts-header .contacts-item + .contacts-item {
  margin-left: 50px;
}
.contacts-header a:hover,
.contacts-header a:focus {
  color: var(--hover-text-color);
}
.list {
  list-style: none;
  padding-left: 0;
}
.link {
  text-decoration: none;
  color: currentColor; /* Наслідує колір */
}

/* Hero */
.hero {
  background-color: var(--hero-bg-color);
  text-align: center;
  padding: 200px 0;
}
.hero-title {
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}
.hero-button {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 32px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--hover-text-color);
  border: none;
  cursor: pointer;
}

/* Приемущества */
.advantages {
  padding: 94px 0;
}
.advantages-list {
  justify-content: center;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}
.advantages-list .advantages-iteam + .advantages-iteam {
  margin-left: 30px;
}
.advantages-title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-text-color);
}
.advantages-desc {
  margin-top: 0;
  margin-bottom: 0;
}

/* Чем мы занимаемся */
.work {
  padding-bottom: 94px;
}
.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.work-list {
  justify-content: center;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}
.work-list .work-iteam + .work-iteam {
  margin-left: 30px;
}

/* Наша команда */
.team {
  background-color: var(--second-bg-color);
  padding: 94px 0;
}
.team-person {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.team-desc {
  margin-top: 0;
  margin-bottom: 30px;

  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.team-img {
  margin-bottom: 30px;
}
.team-list {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
}
.team-list .team-iteam + .team-iteam {
  margin-left: 30px;
}
.team-iteam {
  text-align: center;
  background-color: var(--bg-main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* Footer */
.footer {
  background-color: var(--hero-bg-color);
  padding: 60px 0;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}
.logo-white {
  color: var(--white-text-color);
}
.address-place {
  color: var(--white-text-color);
}
.footer-address {
  font-style: inherit;
  color: rgba(255, 255, 255, 0.6);
}
.footer-address-list {
  margin-top: 0;
  margin-bottom: 0;
}

.footer-address-list .footer-address-item:not(:last-child) {
  margin-bottom: 9px;
}

/* Портфоліо */
.portfolio-filter-list {
  margin-top: 94px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.portfolio-filter-list .portfolio-filter-iteam + .portfolio-filter-iteam {
  margin-left: 8px;
}

.portfolio-button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: var(--second-bg-color);
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.portfolio-button.current {
  background-color: var(--hover-text-color);
  color: var(--white-text-color);
}

/* Кейси */
.portfolio-list {
  margin-top: 0;
  margin-bottom: 94px;
  display: flex;
  flex-wrap: wrap;
}
.portfolio-iteam {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio-list:nth-child(3n) {
  margin-right: 0;
}
.portfolio-iteam:nth-child(3n) {
  margin-right: 0;
}
.portfolio-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}
.portfolio-desc {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
